
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #222;
    font-size: 8.1em;
    font-weight: 100;
 }
h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #222;
    font-size: 2em;
    font-weight: 100;
}
h3 {
	padding-bottom: 1em;
	font-family: 'Alegreya Sans', sans-serif;
}

/* Заголовки (Краткое описание товара, Характеристики, Подробное описание товара)*/
.details h1, .details h2, .details h3 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}
/*Для текста краткого описания товар.*/
.detailTextDescription {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 15px;
}
/*Для текста подробного описания товара:*/
.detailedDescription {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
	line-height: 24px;
}
/*Для списка внурти подраздела Характеристики товара*/
.detailedDescriptionList {
	color: #232c16;
    border: 1px solid #000;
    min-width: 35em;
    margin: auto;
}
.imageDetail {
	border: 5px;
	border-color: pink;
	text-align: center;
}

#inputFieldsEmail {
	font-size: 110%;
	width: 400px;
}
#inputFieldsEmail:focus {
	border-color: green;
	color: green;
}
#inputFields {
	text-transform: capitalize;  
	font-size: 110%;
	width: 400px;
}

#inputTextArea {
	text-transform: capitalize;  
	width: 450px;
	height: 80px;
	color: #484343;
	font-size: 110%;
	
}

.input_form {
	float: left;
	padding-left: 4em;
	padding-bottom: 4em;
}
.address {
	float: left;
	padding-left: 8em;
	padding-right: 4em;
}

/*
* links in the Catalog
*/
.catalog img{
	border: 2px double #b68080;
}
.catalog img:hover{
	border: 2px double #8a6060;
}
.catalog a:link{
	color: #0f0d0c;
}
.catalog a:hover {
	color: #8a6060;
}
.catalog a:visited{
	color: #1b1313;
}
.catalog a:active {
	color: #772592;
}
/*
* Header
*/
.header {
	background-color: #9658;
}
.logo {
	width: 100%;
	text-align: center;
}
.logo a {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #222;
	text-decoration: none;
}
.header span {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #222;
}
/*
* Menu
*/
.menuBar {
	font-family: 'Alegreya Sans', sans-serif;
	text-align: right;
	font-size: 1.2em;
	padding-right: 10em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.menuBar ul li {
	list-style-type: none;
	display: inline-block;
	padding-right: 2em;
}
.menuBar a:link {
	color: #88706b;
	text-decoration: none;
}
.menuBar a:visited {
	color: #1b1313;
}
.menuBar a:hover {
	color: #6b4a4a;
}
.menuBar a:active {
	color: #88788d;
}
/*
* Container
*/
.container {
	width: 100%;
	background: #dfc7c7;
	min-height: 43%;
}
.container h3 {
	padding-top: 2em;
}
/*
* Footer
*/
.footer {
	float: left;
	display: block;
	background: #534949;
	min-height: 20%;
	width: 100%;
}
div.footer > p {
	display: block;
	float: right;
	text-align: right;
	padding-top: 2em;
	padding-right: 2em;
}

* {
	margin: 0;
	padding: 0;
	border: auto;
    font-family: 'Roboto', sans-serif;
}

.none {
	width: 100%;
	height: 1px;
	clear: both;
}
.map {
	width: 100%;
	height: 374px;
	clear: both;
}


/*
* Карточка товара
*/
/* PRODUCTS */

.products {
	list-style: none;
	margin: 1em -1em 1em 1em;
	padding: 0;
}

.product-wrapper {
	display: block;
	width: 100%;
	float: left;
	transition: width .2s;
}

.product {
	display: block;
	border: 1px solid #474747;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 0 20px 20px 0;
	text-decoration: none;
	color: #474747;
	z-index: 0;
}

.product:hover {
	z-index: 1;
}


/* PRODUCT IMAGE */

.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

.product-photo img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	transition: transform .4s ease-out;
}

.product:hover .product-photo img {
	transform: scale(1.05);
}

.product-preview {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	margin: auto;
	display: inline-block;
	transition: opacity, transform .2s ease-out;
	transform: translateY(2em);
	opacity: 0;
}

.product:hover .product-preview {
	transform: translateY(0);
	opacity: 1;
}


/* NAME AND DESCRIPTION */

.product-text {
	padding: 20px;
}

.product p {
	position: relative;
	margin: 0;
	font-size: 1em;
	line-height: 1.4em;
	height: 5.6em;
	overflow: hidden;
}

.product p:after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 4.2em;
	height: 1.6em;
	background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}

/* PRODUCT DETAILS */

.product-details-wrap {
	padding: 0 20px 20px;
}

/* BUTTONS */

.product-buttons-wrap {
	position: absolute;
	top: 0;
	left: -1px;
	right: -1px;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	transform: scaleY(.8);
	transform-origin: top;
	transition: transform .2s ease-out;
	z-index: -1;
	backface-visibility: hidden;
}

.product-buttons-wrap:before {
	content: "";
	float: left;
	height: 100%;
	width: 100%;
}

.buttons {
	position: relative;
	top: -1px;
	padding: 20px;
	background: #fff;
	transition: .2s ease-out;
	border: 1px solid #6b4a4a;
	border-radius: 3px;
}

.button {
	display: inline-block;
	width: 100%;
	background: #a36b8c;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-align: center;
	border: 0;
	padding: 10px 0;
	border-radius: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
	cursor: pointer;
}

.button:hover {
	opacity: .9;
}

.product:hover .product-buttons-wrap {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}

.to-cart {
	background: #474747;
	margin-bottom: 1em;
}

.to-cart span {
	font-size: 1.1em;
	margin-right: .4em;
}


@media only screen and (min-width: 450px) {
	.product-wrapper {
		width: 50%;
	}
}

@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1000px) {
	.product-wrapper {
		width: 25%;
	}
}